@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-montserrat
    }
}

@layer components {
    .cus-bg {
        background-image: url('/images/hero-image.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@layer utilities {
    @keyframes spin-slow {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  
    .animate-spin-slow {
      animation: spin-slow 3s linear infinite;
    }
  }
